body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background: linear-gradient(0deg, rgba(255, 94, 58, 1) 0%, rgba(255, 155, 58, 1) 20%, rgba(255, 204, 58, 1) 50%, rgba(163, 211, 91, 1) 80%, rgba(58, 155, 255, 1) 100%);
}

/* --- --- --- --- MENU PANES --- --- --- --- */

/* Menu panel */
.menu-panel {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 200px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    margin-left: 0px;
}

.menu-panel ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.menu-panel ul li {
    margin: 36px 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.menu-panel ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s;
}

.menu-panel ul li a:hover {
    color: white;
}

.menu-panel ul li.active a {
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}

.menu-panel ul li.active a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-top: 4px;
}

/*  Contact panel  */
.contact-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background-color: transparent;
}

.contact-panel ul {
    list-style: none;
    padding: 0;
    margin: 40px;
    text-align: left;
}

.contact-panel ul li {
    margin: 36px 0;
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.contact-panel ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s;
}

.contact-panel ul li a:hover {
    color: white;
}

/* --- --- --- --- SECTION HEADERS --- --- --- --- */

.section-headers {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 8rem;
    color: #333;
    margin: 0;
    position: absolute;
    top: 20px;
    left: 220px;
    z-index: 1;
    text-transform: uppercase;
}

.home-subheader,
.about-subheader,
.work-subheader {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: left;
    color: #333;

}

.work-subheader {
    grid-column: 1 / -1;
    /* Ensure the header takes up the full width of the grid. */
}

.worksubsub {
    grid-column: 1;
    justify-self: stretch; /* Ensures it spans the full width of the grid area */
    width: 100%;
}

/* --- --- --- --- SECTIONS --- --- --- --- */

.home,
.about,
.work {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    padding-top: 100px;
    box-sizing: border-box;
    min-height: 100vh;
}

.footer {
    display: flex;
    height: 80px;
    background-color: #00000020;
    color: #333;
    align-items: center;
    justify-content: center;
}

/* --- --- --- --- Section contents --- --- --- --- */

.home-content {
    flex: 1;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #33333320 solid 1px;
}

.about-content {
    flex: 1;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #33333320 solid 1px;

}

.work-content {
    flex: 1;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #33333320 solid 1px;

}

/* --- --- --- --- Home container --- --- --- --- */

.home-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 900px;
    margin: 90px auto;
    border-radius: 8px;
    box-sizing: border-box;
}

/* Profile div */
.profile-div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-div img {
    width: 240px;
}

.profile-div p {
    margin: 10px 0;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.profile-div .name {
    font-family: 'Poppins', cursive;
    font-weight: 600;
    font-size: 2.5rem;
    color: #333;
}

.profile-div .description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #333;
    margin-top: -12px;
}

/* --- --- --- --- About container --- --- --- --- */

.about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    max-width: 900px;
    margin: 90px auto;
    border-radius: 8px;
    box-sizing: border-box;
}

.about-item {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: auto; /* Content fit */
    text-align: left;
    background-color: #ffffff80;
}

.about-emoji {
    width: 64px;
    height: 64px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 2.5rem;

}

.about-emoji svg {
    display: block;
    width: 100%;
    height: 100%;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    color: #333;
    margin-left: 16px;
}

.about-item-title {
    font-size: 22px;
    font-weight: 600;
    margin: 0 0 4px 0;
}

.about-item-description {
    font-size: 18px;
    font-weight: 400;
    color: #646464;
    margin: 0;
}


/* --- --- --- --- Work container --- --- --- --- */

.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 90px auto;
    border-radius: 8px;
    max-width: 900px;
}

.work-item {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    font-size: 1rem;
    cursor: pointer;
}

.work-image {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.work-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-info {
    padding: 12px;
}

.work-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.work-description {
    font-size: 14px;
    color: #646464;
    margin: 6px 0 0;
}

/* Work links TBD */
.work-item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}