html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #333;
}

.sections {
    background: linear-gradient(0deg, rgba(255, 94, 58, 1) 0%, rgba(255, 155, 58, 1) 20%, rgba(255, 204, 58, 1) 50%, rgba(163, 211, 91, 1) 80%, rgba(58, 155, 255, 1) 100%);
}

/* --- --- --- --- MENU PANES --- --- --- --- */

/* Menu panel */
.menu-panel {
    display: flex;
    position: fixed;
    height: 100vh;
    width: 180px;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    background-color: #33333310;
    margin-left: 0px;
}

.menu-panel ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.menu-panel ul li {
    margin: 36px 0;
    font-size: 18px;
}

/* Base styles for menu items */
.menu-panel ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Hover effect for menu items */
.menu-panel ul li a:hover {
    color: #555;
}

/* Styles for the active menu item */
.menu-panel ul li.active a {
    font-weight: bold;
    color: #000; /* Highlight active item */
    position: relative;
}

/* Underline effect for the active menu item */
.menu-panel ul li.active a::after {
    content: '';
    position: absolute;
    bottom: -4px; /* Position underline below the text */
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(1); /* Show underline for active items */
    transition: transform 0.3s ease;
}

/* Initial state for inactive menu items (no underline) */
.menu-panel ul li:not(.active) a::after {
    transform: scaleX(0); /* Hide underline */
}



/*  Contact panel  */
.contact-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    height: 100%;
    width: 180px;
    background-color: #33333310;
}

.contact-panel ul {
    list-style: none;
    padding: 0;
    margin: 40px;
    text-align: left;
}

.contact-panel ul li {
    margin: 36px 0;
    font-size: 18px;
}

.contact-panel ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s;
}

.contact-panel ul li a:hover {
    color: white;
}

/* --- --- --- --- SECTION HEADERS --- --- --- --- */
.section-headers {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: -20px;
}

.headers,
.subheaders {
    margin: 0;
    padding: 0;
}

.headers {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 8rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.subheaders {
    font-size: 3rem;
    font-weight: 400;
    margin-top: -40px;
    
}


/* --- --- --- --- SECTIONS --- --- --- --- */

.home,
.about,
.work {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    box-sizing: border-box;
    min-height: 100vh;
}

.footer {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.copyright-text {
    margin-bottom: 0px;
    color: #ffffff80;
}

/* --- --- --- --- Section contents --- --- --- --- */

.home-content, 
.about-content,
.work-content {
    flex: 1;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: #33333320 solid 1px;
}

/* --- --- --- --- Home container --- --- --- --- */

.home-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 900px;
    margin: 60px auto;
    box-sizing: border-box;
}

/* Profile div */
.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Ensure it's centered */
    margin-top: -40px;
    gap: 20px;
    
}

.profile-div img {
    width: 240px;
}

.profile-info {
    width: 80%;
}

.profile-div .name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin: 0;
}

.profile-div .description {
    font-size: 1.5rem;
    margin: 0;
}


/* --- --- --- --- About container --- --- --- --- */

.about-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    max-width: 900px;
    margin: 60px auto;
    border-radius: 8px;
    box-sizing: border-box;
}

.about-item {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: auto;
    text-align: left;
    background-color: #ffffff80;
}

.about-emoji {
    width: 64px;
    height: 64px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 2.5rem;

}

.about-emoji svg {
    display: block;
    width: 100%;
    height: 100%;
}

.about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 16px;
}

.about-item-title {
    font-weight: 600;
    margin: 0 0 4px 0;
}

.about-item-description {
    font-weight: 400;
    margin: 0;
}


/* --- --- --- --- Work container --- --- --- --- */

.work-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 60px auto;
    border-radius: 8px;
    max-width: 900px;
}

.work-item {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    cursor: pointer;
}

.work-image {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.work-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-info {
    padding: 12px;
}

.work-title {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
}

.work-description {
    font-size: 16px;
    color: #646464;
    margin: 6px 0 0;
}

/* Work links TBD */
.work-item-link {
    text-decoration: none;
    color: inherit;
    display: block;
}